/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #5e5e5e;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  background-color: #5e5e5e;
  color: white;
}

.logo_esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_esquerda img {
  max-height: 60px;
}

.texto_logo {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
  color: white;
}

.logo_direita img {
  background-color: #f0f0f0;
  max-height: 60px;
}

/* MAIN */
.main {
  display: flex;
  width: 100%;
  padding: 30px 0;
  gap: 40px;
}

/* SIDEBAR */
.side_bar {
  width: 200px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-left: 20px;
  min-height: 80vh;
  flex-shrink: 0;
}

.side_bar nav ul {
  list-style: none;
  padding: 0;
}

.side_bar nav ul li {
  margin-bottom: 15px;
}

.side_bar nav ul li.atual a {
  background-color: #dcdcdc; /* fundo cinza claro */
  color: #333;               /* texto mais escuro */
  pointer-events: none;      /* desativa clique no link atual */
}

.side_bar nav ul li a {
  text-decoration: none;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.side_bar nav ul li a:hover {
  background-color: #e0e0e0;
  color: #333;
}

.side_bar h3 {
  color: #6b6b6b;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.side_bar h3:hover {
  color: #333;
}

/* BLOCO DE CONTEÚDO */
.conteudo_bloco {
  max-width: 115vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BANNER */
.banner {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* CONTEÚDO PARTICIPANTES */
.conteudo {
  width: 100%;
  background-color: #9b9b9b;
  border-radius: 15px;
  padding: 30px;
}

.conteudo h2 {
  font-size: 28px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.participante img {
  width: 180px;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.participante h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.participante p {
  font-size: 16px;
  line-height: 1.6;
  color: #f0f0f0;
}

.participante {
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 20px;
}

.participante::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc; /* cor discreta da linha */
  opacity: 0.5;
  margin-top: 20px;
}